@page
@model ConfirmEmailChangeModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "تأكيد تغيير البريد الإلكتروني";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
