@page
@model ExternalLoginModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "التسجيل";
}

<div class="container mt-5" dir="rtl" lang="ar">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <div class="text-center mb-4">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" style="text-decoration:none">
                        <img src="~/favicon.png" alt="رمز حجز الفنادق" class="img-fluid mb-3" width="50">
                    </a>
                </div>
                <h2 class="text-center mb-4">@ViewData["Title"]</h2>
                <section>
                    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">البريد الإلكتروني</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-primary btn-lg">التسجيل</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
