@page
@model ResetPasswordConfirmationModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "تأكيد إعادة تعيين كلمة المرور";
}

<div class="container mt-5" dir="rtl" lang="ar">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4 text-center">
                <div class="text-center mb-4">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" style="text-decoration:none">
                        <img src="~/favicon.png" alt="رمز حجز الفنادق" class="img-fluid mb-3" width="50">
                    </a>
                </div>
                <h2 class="text-center mb-4">@ViewData["Title"]</h2>
                <section>
                    <p class="mb-4">
                        تم إعادة تعيين كلمة المرور الخاصة بك. الرجاء <a asp-page="./Login" class="text-decoration-none">الضغط هنا لتسجيل الدخول</a>.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
